.starter-template {
  padding: 40px 15px;
  text-align: left;
}
.poll_response{
}
.understanding{
  padding-left: 20%;
  padding-top: 10px;
  margin:  auto;
  width:100%
}
.poll_div{
  margin:  auto;
  width:90%
}
h3{
 padding-bottom: 2px;
}
.joinButton{
 padding-top: 40px;
 padding-bottom: 20px;
}
.submitButton{
 padding-bottom: 5px;
}
.home_body{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.chart_class{
  padding-top: 50px;
  padding-left:0px;
  padding-right:5px;
  padding-bottom:1px;
}
.below_chart{
  padding-top:35%;
  padding-left:50%;
  position:absolute;
}
.join_body{
text-align: center;
}
.create_body{
  text-align: center;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
body{
  background-image: url("linkedFiles/06.jpg");
}
.student_body{
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.form{
  text-align: center;
  left:80px;
}
.button{
  border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
}
.join_buttons{
  width: 50%;
  padding: 20px;
  background-color: #008CBA;/*#4CAF50; green*/
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.host_reset{
  width: 90px;
  padding: 5px;
  background-color: #008CBA;/*#4CAF50; green */
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.host_reset:hover{
  background-color: #4CAF50;
}
.join_buttons:hover{
 background-color: #4CAF50;/*#008CBA; blue*/
}

.create_buttons{
  width: 50%;
  padding: 20px;
  background-color: #008CBA;/*#4CAF50; green*/
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.create_buttons:hover{
  background-color: #4CAF50;/*#008CBA; blue*/
}
.buttons_div{
  padding-top: 20px;
  padding-bottom: 20px;
}
.home_buttons{
  width: 50%;
  padding: 20px;
  background-color: #008CBA;/*#4CAF50; green*/
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.home_buttons:hover{
  background-color: #4CAF50;/*#008CBA; blue*/
}
.student_input{
  padding-top: 15px;
}
.radio_class{
  font-size: 14px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}
.radio_form{
}
.student_poll2{
  width: 20%;
  padding: 20px;
  padding-top: 20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  background-color: #008CBA;/*#4CAF50; green*/
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.student_poll2:hover{
  background-color: #4CAF50;/*#008CBA; blue*/
}
.student_buttons{
  width: 50%;
  padding: 20px;
  background-color: #008CBA;/*#4CAF50; green*/
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.student_buttons:hover{
  background-color: #4CAF50;/*#008CBA; blue*/
}
input[type=text], select{
  background-color: #f2f2f2;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.create_form{
  text-align:left;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
